<h2>Delete Tweet</h2>

<form class="form center-form" method="POST">
  <div class="form-group">
    <label for="message">Message:</label>
    <textarea name="message" disabled maxlenght="140" id="message-id" cols="30" rows="10">{{tweet.message}}</textarea>
  </div>
  <div class="form-group">
    <input class="form-btn btn btn-danger" type="submit" value="Delete">
  </div>
</form>
